<template>
  <default-layout :isAdmin="true">
    <div class="new-user row">
      <div class="col-12">
        <div class="text-h4 text-weight-medium text-primary">
          Cadastrar Novo Equipamento
        </div>
      </div>
      <div class="q-py-lg col-12">
        <q-form @submit="register">
          <div class="row justify-between items-end">
            <div class="col-5">
              <div class="row justify-between">
                <div class="col-12">
                  <q-select
                    outlined
                    v-model="newEquipment.type"
                    label="Tipo de Equipamento*"
                    stack-label
                    :options="typesOfEquipment"
                    lazy-rules
                    :rules="[
                      val => (val && val.length > 0) || 'Campo Obrigatório!',
                      val => (val && val !== 'Selecione') || 'Campo Obrigatório!'
                    ]"
                  />
                </div>
                <div class="col-12">
                  <q-input
                    outlined
                    v-model="newEquipment.name"
                    label="Nome do Equipamento*"
                    stack-label
                    lazy-rules
                    :rules="[
                      val => (val && val.length > 0) || 'Campo Obrigatório!'
                    ]"
                  />
                </div>
                <div class="col-12">
                  <q-input
                    outlined
                    type="textarea"
                    v-model="newEquipment.description"
                    label="Descrição"
                    stack-label
                    hint=""
                  />
                </div>
                <div class="col-12">
                  <q-input
                    outlined
                    v-model="newEquipment.quantity"
                    label="Quantidade*"
                    stack-label
                    lazy-rules
                    :rules="[
                      val => (val && val.length > 0) || 'Campo Obrigatório!'
                    ]"
                  />
                </div>
              </div>
            </div>
            <div class="col-4">
              <div class="row justify-end">
                <div class="col-auto">
                  <q-btn
                    unelevated
                    label="Cancelar"
                    type="reset"
                    color="grey-5"
                    text-color="black"
                  />
                  <q-btn
                    unelevated
                    class="q-ml-md"
                    label="Salvar"
                    type="submit"
                    color="positive"
                  />
                </div>
              </div>
            </div>
          </div>
        </q-form>
      </div>
    </div>
  </default-layout>
</template>

<script>
import DefaultLayout from "@/layouts/DefaultLayout.vue";
export default {
  name: "NewEquipment",
  components: { DefaultLayout },
  computed: {
    user() {
      return this.$store.state.user;
    },
    typesOfEquipment() {
      return ["Selecione"].concat(this.$store.state.typesOfEquipment);
    }
  },
  data() {
    return {
      newEquipment: {
        type: "Selecione",
        name: null,
        description: null,
        quantidade: null
      }
    };
  },
  methods: {
    register() {
      console.log("register")
    }
  }
};
</script>

<style></style>
