<template>
  <default-layout :isAdmin="true">
    <div class="new-user row">
      <div class="col-12">
        <div class="text-h4 text-weight-medium text-primary">
          Cadastrar Novo Usuário
        </div>
      </div>
      <div class="q-py-lg col-12">
        <q-form @submit="register">
          <div class="row justify-between items-end">
            <div class="col-5">
              <div class="row justify-between">
                <q-input
                  class="col-12"
                  outlined
                  v-model="newUser.fullName"
                  label="Nome Completo*"
                  stack-label
                  lazy-rules
                  :rules="[
                    val => (val && val.length > 0) || 'Campo Obrigatório!'
                  ]"
                />
                <q-input
                  class="col-12"
                  outlined
                  v-model="newUser.email"
                  label="E-mail*"
                  stack-label
                  lazy-rules
                  :rules="[
                    val => (val && val.length > 0) || 'Campo Obrigatório!'
                  ]"
                />
                <q-input
                  class="col-5"
                  outlined
                  v-model="newUser.rg"
                  label="RG*"
                  stack-label
                  lazy-rules
                  :rules="[
                    val => (val && val.length > 0) || 'Campo Obrigatório!'
                  ]"
                />
                <q-input
                  class="col-5"
                  outlined
                  v-model="newUser.cpf"
                  label="CPF*"
                  stack-label
                  lazy-rules
                  :rules="[
                    val => (val && val.length > 0) || 'Campo Obrigatório!'
                  ]"
                />
                <q-input
                  class="col-5"
                  outlined
                  v-model="newUser.birth"
                  label="Data de Nascimento*"
                  stack-label
                  lazy-rules
                  :rules="[
                    val => (val && val.length > 0) || 'Campo Obrigatório!'
                  ]"
                />
                <div class="col-5">
                  <q-select
                    outlined
                    v-model="newUser.sex"
                    label="Sexo*"
                    stack-label
                    :options="optionsSex"
                    lazy-rules
                    :rules="[
                      val => (val && val.length > 0) || 'Campo Obrigatório!',
                      val => (val && val !== 'Selecione') || 'Campo Obrigatório!'
                    ]"
                  />
                </div>
                <q-input
                  class="col-5"
                  outlined
                  v-model="newUser.phone"
                  label="Número de Telefone*"
                  stack-label
                  lazy-rules
                  :rules="[
                    val => (val && val.length > 0) || 'Campo Obrigatório!'
                  ]"
                />
                <div class="col-5">
                  <q-select
                    outlined
                    v-model="newUser.type"
                    label="Tipo de Usuário*"
                    stack-label
                    :options="optionsUser"
                    lazy-rules
                    :rules="[
                      val => (val && val.length > 0) || 'Campo Obrigatório!',
                      val => (val && val !== 'Selecione') || 'Campo Obrigatório!'
                    ]"
                  />
                </div>
              </div>
            </div>
            <div class="col-4">
              <div class="row justify-end">
                <div class="col-auto">
                  <q-btn
                    unelevated
                    label="Cancelar"
                    type="reset"
                    color="grey-5"
                    text-color="black"
                  />
                  <q-btn
                    unelevated
                    class="q-ml-md"
                    label="Salvar"
                    type="submit"
                    color="positive"
                  />
                </div>
              </div>
            </div>
          </div>
        </q-form>
      </div>
    </div>
  </default-layout>
</template>

<script>
import DefaultLayout from "@/layouts/DefaultLayout.vue";
import db from '../firebase/firestore'

export default {
  name: "NewUser",
  components: { DefaultLayout },
  computed: {
    user() {
      return this.$store.state.user;
    },
    optionsSex() {
      return ["Selecione"].concat(this.$store.state.userSex);
    },
    optionsUser() {
      return ["Selecione"].concat(this.$store.state.typesOfUser);
    }
  },
  data() {
    return {
      newUser: {
        fullName: null,
        email: null,
        rg: null,
        cpf: null,
        birth: null,
        sex: "Selecione",
        phone: null,
        type: "Selecione"
      }
    };
  },
  methods: {
    register() {
      console.log("register");
      db.collection('users').add(this.newUser).then(res => {
        console.log(res.id);
      })
    }
  }
};
</script>

<style></style>
