<template>
  <default-layout :isAdmin="true">
    <div class="new-user row">
      <div class="col-12">
        <div class="text-h4 text-weight-medium text-primary">
          Cadastrar Novo Espaço
        </div>
      </div>
      <div class="q-py-lg col-12">
        <q-form @submit="register">
          <div class="row justify-between items-end">
            <div class="col-5">
              <div class="row justify-between">
                <div class="col-12">
                  <q-select
                    outlined
                    v-model="newSpace.type"
                    label="Tipo de Espaço Físico*"
                    stack-label
                    :options="typesOfPhysicalSpace"
                    lazy-rules
                    :rules="[
                      val => (val && val.length > 0) || 'Campo Obrigatório!',
                      val => (val && val !== 'Selecione') || 'Campo Obrigatório!'
                    ]"
                  />
                </div>
                <div class="col-12">
                  <q-input
                    outlined
                    v-model="newSpace.name"
                    label="Nome do Local*"
                    stack-label
                    lazy-rules
                    :rules="[
                      val => (val && val.length > 0) || 'Campo Obrigatório!'
                    ]"
                  />
                </div>
                <div class="col-12">
                  <q-input
                    outlined
                    type="textarea"
                    v-model="newSpace.description"
                    label="Descrição"
                    stack-label
                    hint=""
                  />
                </div>
                <div class="col-12">
                  <q-input
                    outlined
                    v-model="newSpace.capacity"
                    label="Capacidade*"
                    stack-label
                    lazy-rules
                    :rules="[
                      val => (val && val.length > 0) || 'Campo Obrigatório!'
                    ]"
                  />
                </div>
                <div class="col-12 q-mt-lg">
                  Possui Computadores*
                  <q-option-group
                    :options="optionsRadio"
                    type="radio"
                    v-model="newSpace.hasComputers"
                  />
                </div>
                <div v-if="newSpace.hasComputers" class="col-12">
                  <q-input
                    outlined
                    v-model="newSpace.numberOfComputers"
                    label="Quantidade*"
                    stack-label
                    lazy-rules
                    :rules="[
                      val => (val && val.length > 0) || 'Campo Obrigatório!'
                    ]"
                  />
                </div>
                <div class="col-12 q-mt-lg">
                  Possui Ar-Condicionado*
                  <q-option-group
                    :options="optionsRadio"
                    type="radio"
                    v-model="newSpace.hasAirConditioning"
                  />
                </div>
                <div class="col-12 q-mt-lg">
                  Possui Projetor*
                  <q-option-group
                    :options="optionsRadio"
                    type="radio"
                    v-model="newSpace.hasProjector"
                  />
                </div>
                <div class="col-12 q-mt-md">
                  <q-select
                    outlined
                    v-model="newSpace.board"
                    label="Tipo de Quadro*"
                    stack-label
                    :options="typesOfBoard"
                    lazy-rules
                    :rules="[
                      val => (val && val.length > 0) || 'Campo Obrigatório!',
                      val => (val && val !== 'Selecione') || 'Campo Obrigatório!'
                    ]"
                  />
                </div>
              </div>
            </div>
            <div class="col-4">
              <div class="row justify-end">
                <div class="col-auto">
                  <q-btn
                    unelevated
                    label="Cancelar"
                    type="reset"
                    color="grey-5"
                    text-color="black"
                  />
                  <q-btn
                    unelevated
                    class="q-ml-md"
                    label="Salvar"
                    type="submit"
                    color="positive"
                  />
                </div>
              </div>
            </div>
          </div>
        </q-form>
      </div>
    </div>
  </default-layout>
</template>

<script>
import DefaultLayout from "@/layouts/DefaultLayout.vue";
export default {
  name: "NewSpace",
  components: { DefaultLayout },
  computed: {
    user() {
      return this.$store.state.user;
    },
    typesOfPhysicalSpace() {
      return ["Selecione"].concat(this.$store.state.typesOfPhysicalSpace);
    },
    typesOfBoard() {
      return ["Selecione"].concat(this.$store.state.typesOfBoard);
    }
  },
  data() {
    return {
      newSpace: {
        type: "Selecione",
        name: null,
        description: null,
        capacity: null,
        hasComputers: false,
        hasAirConditioning: false,
        hasProjector: false,
        board: "Selecione"
      },
      optionsRadio: [
        { label: "Sim", value: true },
        { label: "Não", value: false }
      ]
    };
  },
  methods: {
    register() {
      console.log("register");
    }
  }
};
</script>

<style></style>
