<template>
  <default-layout :isAdmin="user.isAdmin">
    <div class="home row">
      <div class="col-12 q-my-md">
        <div class="row justify-between items-end">
          <div class="col-6">
            <div class="text-h3 text-primary text-weight-medium">
              Visão geral
              <span v-if="user.isAdmin">
                (Admin)
              </span>
            </div>
          </div>
          <div class="col-4">
            <q-input
              v-model="search"
              placeholder="Buscar"
              outlined
              type="search"
              :dense="true"
            >
              <template v-slot:append>
                <q-icon name="search" />
              </template>
            </q-input>
          </div>
        </div>
      </div>
      <div class="col-12 q-my-md">
        <div class="row items-end q-pb-md">
          <div class="col-2">
            <div class="text-h6 text-dark text-weight-light">
              Espaços Físicos
            </div>
          </div>
          <div class="q-px-md col-auto" style="min-width: 200px">
            <q-select
              outlined
              v-model="physicalSpaceType"
              :options="typesOfPhysicalSpace"
              :dense="true"
            />
          </div>
        </div>
      </div>
      <div class="col-12 q-py-xs">
        <q-scroll-area
          horizontal
          :visible="true"
          style="height: 175px; width: 100%"
        >
          <div class="row no-wrap q-gutter-x-md q-pa-sm">
            <q-card
              v-for="(c, index) in commonSpaces"
              :key="index"
              style="width: 200px;"
            >
              <q-card-section>
                <div class="text-positive text-weight-medium text-h6">
                  Sala {{ c.number }}
                </div>
                <div class="text-dark text-weight-light text-body2">
                  {{ c.description }}
                </div>
                <div>
                  <div class="row">
                    <div class="text-dark text-weight-bold text-subtitle1">
                      {{ c.schedule.day }}
                    </div>
                    <div class="text-dark text-weight-light text-subtitle1">
                      {{ c.schedule.start }} - {{ c.schedule.end }}
                    </div>
                  </div>
                </div>
              </q-card-section>
            </q-card>
          </div>
        </q-scroll-area>
      </div>
      <div class="q-py-sm">
        <q-btn
          label="Ver todos"
          color="primary"
          flat
          class="q-ml-sm full-width"
        />
      </div>
      <div class="col-12 q-my-md q-mt-lg">
        <div class="row items-end q-pb-md">
          <div class="col-2">
            <div class="text-h6 text-dark text-weight-light">
              Equipamentos
            </div>
          </div>
          <div class="q-px-md col-auto" style="min-width: 200px">
            <q-select
              outlined
              v-model="equipmentType"
              :options="typesOfEquipment"
              :dense="true"
            />
          </div>
        </div>
      </div>
      <div class="col-12 q-py-xs">
        <q-scroll-area
          horizontal
          :visible="true"
          style="height: 175px; width: 100%"
        >
          <div class="row no-wrap q-gutter-x-md q-pa-sm">
            <q-card
              v-for="(e, index) in equipments"
              :key="index"
              style="width: 200px;"
            >
              <q-card-section>
                <div class="text-positive text-weight-medium text-h6">
                  {{ e.type }}
                </div>
                <div class="text-dark text-weight-light text-body2">
                  {{ e.description }}
                </div>
                <div>
                  <div class="row">
                    <div class="text-dark text-weight-bold text-subtitle1">
                      {{ e.schedule.day }}
                    </div>
                    <div class="text-dark text-weight-light text-subtitle1">
                      {{ e.schedule.start }} - {{ e.schedule.end }}
                    </div>
                  </div>
                </div>
              </q-card-section>
            </q-card>
          </div>
        </q-scroll-area>
      </div>
      <div class="q-py-sm">
        <q-btn label="Ver todos" color="primary" flat class="q-ml-sm" />
      </div>
    </div>
  </default-layout>
</template>

<script>
import DefaultLayout from "@/layouts/DefaultLayout.vue";
import db from '../firebase/firestore'

export default {
  name: "Home",
  components: { DefaultLayout },
  computed: {
    user() {
      return this.$store.state.user;
    },
    typesOfPhysicalSpace() {
      return ["Todos"].concat(this.$store.state.typesOfPhysicalSpace);
    },
    typesOfEquipment() {
      return ["Todos"].concat(this.$store.state.typesOfEquipment);
    }
  },
  created(){
    db.collection('physical-space').get().then(res => {
      this.espacoBD = res.docs;
    })


  },
  data() {
    return {
      espacoBD: null,
      search: null,
      physicalSpaceType: "Todos",
      equipmentType: "Todos",
      commonSpaces: [
        {
          number: "10",
          description: "Lab. de Informatica 2",
          schedule: {
            day: "12/12/2020",
            start: "13:15h",
            end: "15:15h"
          }
        },
        {
          number: "11",
          description: "Lab. de Informatica 1",
          schedule: {
            day: "13/12/2020",
            start: "15:15h",
            end: "17:15h"
          }
        },
        {
          number: "11",
          description: "Lab. de Informatica 1",
          schedule: {
            day: "13/12/2020",
            start: "15:15h",
            end: "17:15h"
          }
        },
        {
          number: "11",
          description: "Lab. de Informatica 1",
          schedule: {
            day: "13/12/2020",
            start: "15:15h",
            end: "17:15h"
          }
        },
        {
          number: "11",
          description: "Lab. de Informatica 1",
          schedule: {
            day: "13/12/2020",
            start: "15:15h",
            end: "17:15h"
          }
        },
        {
          number: "11",
          description: "Lab. de Informatica 1",
          schedule: {
            day: "13/12/2020",
            start: "15:15h",
            end: "17:15h"
          }
        }
      ],
      equipments: [
        {
          type: "Projetor",
          description: "Projetor Epson",
          schedule: {
            day: "13/12/2020",
            start: "15:15h",
            end: "17:15h"
          }
        },
        {
          type: "Projetor",
          description: "Projetor Epson 2",
          schedule: {
            day: "13/12/2020",
            start: "13:15h",
            end: "15:15h"
          }
        },
        {
          type: "Projetor",
          description: "Projetor Epson 3",
          schedule: {
            day: "13/12/2020",
            start: "15:15h",
            end: "17:15h"
          }
        },
        {
          type: "Projetor",
          description: "Projetor Epson 2",
          schedule: {
            day: "13/12/2020",
            start: "13:15h",
            end: "15:15h"
          }
        },
        {
          type: "Projetor",
          description: "Projetor Epson 3",
          schedule: {
            day: "13/12/2020",
            start: "15:15h",
            end: "17:15h"
          }
        }
      ]
    };
  }
};
</script>

<style lang="scss">
.my-card {
  height: 160;
  width: 100%;
}

.border-red {
  border: 1px solid red;
}

.border-blue {
  border: 1px solid blue;
}

.border-green {
  border: 1px solid green;
}

.border-black {
  border: 1px solid black;
}

.border-transparent {
  border: 1px solid transparent;
}
</style>
