<template>
  <left-brand-layout>
    <div class="col-10">
      <div class="row justify-center col-12">
        <div class="col-auto">
          <img
            src="@/assets/logo-ifce.png"
            alt=""
            srcset="@/assets/logo-ifce.png"
            width="150"
          />
        </div>
      </div>
      <div class="row justify-center col-12">
        <div class="q-pa-md col-8">
          <q-form @submit="Login" class="q-gutter-md">
            <q-input
              outlined
              v-model="email"
              label="E-mail"
              lazy-rules
              :rules="[val => (val && val.length > 0) || 'Campo Obrigatório!']"
            />
            <q-input
              outlined
              :type="isPwd ? 'password' : 'text'"
              v-model="password"
              label="Senha"
              lazy-rules
              ::rules="[val => (val && val.length > 0) || 'Campo Obrigatório!']"
            >
              <template v-slot:append>
                <q-icon
                  :name="isPwd ? 'visibility_off' : 'visibility'"
                  class="cursor-pointer"
                  @click="isPwd = !isPwd"
                />
              </template>
            </q-input>
            <router-link tag="div" to="/recovery">
              <q-btn
                label="Recuperar senha"
                type="reset"
                color="primary"
                flat
                class="q-ml-sm full-width"
              />
            </router-link>
            <div>
              <q-btn
                unelevated
                label="Entrar"
                type="submit"
                color="primary"
                class="full-width"
              />
            </div>
          </q-form>
        </div>
      </div>
    </div>
  </left-brand-layout>
</template>

<script>
import LeftBrandLayout from "@/layouts/LeftBrandLayout.vue";
export default {
  components: { LeftBrandLayout },
  data() {
    return {
      isPwd: true,
      email: null,
      password: null
    };
  },
  methods: {
    Login() {
      this.$q.notify({
        color: "positive",
        textColor: "white",
        icon: "cloud_done",
        message: "Entrando"
      });
    }
  }
};
</script>

<style></style>
