<template>
  <left-brand-layout>
    <div class="col-10">
      <div class="row justify-center col-12">
        <div class="col-auto">
          <img
            src="@/assets/logo-ifce.png"
            alt=""
            srcset="@/assets/logo-ifce.png"
            width="150"
          />
        </div>
      </div>
      <div class="row justify-center col-12">
        <div class="q-pa-md col-8">
          <q-form @submit="Recovery" class="q-gutter-md">
            <q-input
              outlined
              v-model="email"
              label="E-mail"
              hint="Informe-nos seu e-mail para a recuperação de sua senha"
              lazy-rules
              :rules="[val => (val && val.length > 0) || 'Campo Obrigatório!']"
            />

            <div>
              <q-btn
                unelevated
                label="Enviar"
                type="submit"
                color="primary"
                class="full-width"
              />
            </div>
          </q-form>
        </div>
      </div>
    </div>
  </left-brand-layout>
</template>

<script>
import LeftBrandLayout from "../layouts/LeftBrandLayout.vue";
export default {
  components: { LeftBrandLayout },
  data() {
    return {
      email: null
    };
  },
  methods: {
    Recovery() {
      this.$q.notify({
        color: "warning",
        textColor: "white",
        icon: "cloud_done",
        message: "Recuperar senha"
      });
    }
  }
};
</script>

<style></style>
