<template>
  <q-layout view="hHh lpR fFf">
    <q-header class="q-py-sm q-px-xl bg-secondary text-dark">
      <q-toolbar>
        <q-toolbar-title>
          <div class="row justify-between">
            <div class="col-auto">
              <div class="row">
                <q-avatar>
                  <img
                    src="@/assets/logo-ifce.png"
                    alt=""
                    srcset="@/assets/logo-ifce.png"
                  />
                </q-avatar>
                <div class="column q-ml-md">
                  <div
                    class="text-subtitle2 text-weight-medium text-primary"
                    style="line-height: 1;"
                  >
                    <div>
                      Sistema de
                    </div>
                    <div>
                      Reservas
                    </div>
                    <div class="text-positive">
                      IFCE
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div v-if="isAdmin" class="col-auto">
              <div class="row">
                <div class="col-auto">
                  <router-link to="/">
                    <q-btn label="Home" color="primary" flat />
                  </router-link>
                </div>
                <div class="col-auto">
                  <router-link to="/new/user">
                    <q-btn label="Cadastrar usuário" color="primary" flat />
                  </router-link>
                </div>
                <div class="col-auto">
                  <router-link to="/new/space">
                    <q-btn label="Cadastrar espaço físico" color="primary" flat />
                  </router-link>
                </div>
                <div class="col q-px-sm">
                  <router-link to="/new/equipment">
                    <q-btn label="Cadastrar equipamento" color="primary" flat />
                  </router-link>
                </div>
              </div>
            </div>
            <div class="col-auto">
              <div class="row">
                <div class="col">
                  <q-btn color="primary" flat>
                    <q-icon name="account_circle" />
                  </q-btn>
                </div>
                <div class="col">
                  <q-btn color="primary" flat>
                    <q-icon name="exit_to_app" />
                  </q-btn>
                </div>
              </div>
            </div>
          </div>
        </q-toolbar-title>
      </q-toolbar>
    </q-header>

    <q-page-container>
      <div class="q-py-sm q-px-xl">
        <slot />
      </div>
    </q-page-container>

    <q-footer class="q-pa-sm bg-primary text-white">
      <q-toolbar>
        <q-toolbar-title>
          <div class="col-auto">
            <div class="column items-center">
              <div class="text-subtitle1 text-weight-light">
                Instituto Federal de Educação, Ciência e Tecnologia do Ceará
              </div>
              <div class="text-subtitle1 text-weight-light text-italic">
                Campus Aracati
              </div>
            </div>
          </div>
        </q-toolbar-title>
      </q-toolbar>
    </q-footer>
  </q-layout>
</template>

<script>
export default {
  props: {
    isAdmin: {
      type: Boolean,
      default: false
    }
  }
};
</script>
