<template>
  <q-layout view="hHh lpR fFf">
    <q-page-container>
      <div>
        <div id="login" class="row">
          <div class="col-6">
            <div
              id="brand"
              class="column justify-center items-center"
              style="height: 100vh;"
            >
              <div class="text-h2 text-weight-bold text-primary">
                <div>
                  Sistema de
                </div>
                <div>
                  Reservas
                </div>
                <div class="text-positive">
                  IFCE
                </div>
              </div>
            </div>
          </div>
          <div class="col-6">
            <div class="row justify-center items-center" style="height: 100vh;">
              <slot> </slot>
            </div>
          </div>
        </div>
      </div>
    </q-page-container>
  </q-layout>
</template>

<script>
export default {};
</script>

<style></style>
