@import './quasar.variables.scss';
@import '~quasar-styl';
// @import '~quasar-addon-styl';

a {
  text-decoration: none !important;
}

.q-btn {
  text-transform: none !important;
}

.router-link-exact-active {
  .q-btn {
    color: $positive !important;
  }
}

// Style LeftBrandLayout //

#brand {
  background-color: $secondary;
}
